<ion-view view-title="{{'NEW_WALLET_TITLE' | translate}}">
    <ion-content class="padding">
        <label class="item item-input">     
            <ion-label fixed>{{'name' | translate}}</ion-label> 
            <input type="text" ng-model="newWallet.name" placeholder="{{'placeHolderNameWallet' | translate}}">
        </label>
        <button class="button button-block button-positive" ng-click="createRandomWallet()">{{'btnRandomWallet' | translate}}</button>
        <button class="button button-block button-positive" ng-click="openModal('templates/modals/modalNewWalletWithPrivateKey.html')">{{'btnPrivateKeyWallet' | translate}}</button>    
        <button class="button button-block button-positive" ng-click="openModal('templates/modals/modalNewWalletWithJsonFile.html')">{{'btnImportJSONWallet' | translate}}</button>   
    </ion-content>
</ion-view>
