<ion-view view-title="New Wallet">
    <ion-content class="padding">
        <label class="item item-input">     
            <ion-label fixed>Name</ion-label> 
            <input type="text" ng-model="newWallet.name" placeholder="(Name of new Wallet)">
        </label>
        <button class="button button-block button-positive" ng-click="createRandomWallet()">Create Random Wallet</button>
        <button class="button button-block button-positive" ng-click="openModal('templates/modals/modalNewWalletWithPrivateKey.html')">Add Wallet From Private Key</button>    
        <button class="button button-block button-positive" ng-click="openModal('templates/modals/modalNewWalletWithJsonFile.html')">Import Wallet From JSON File</button>   
    </ion-content>
</ion-view>
