<ion-view view-title="{{'SETTINGS_TITLE' | translate}}">
    <ion-content>
        <div class="list">
            <label class="item item-input item-select">
                <div class="input-label">{{'Language' | translate}}</div>
               <select ng-model="Settings.language"  ng-options="language as language.label for language in Languages" ng-change="settingsChanged()">
              
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">{{'Coin' | translate}}</div>
                <select ng-model="Settings.coin"  ng-options="coin as coin.label for coin in Coins" ng-change="settingsChanged()">             
                </select>
            </label>
            <label class="item item-input item-select">
                <div class="input-label">Avatars</div>
                <select ng-model="Settings.avatars"  ng-options="avatar as avatar.label for avatar in Avatars" ng-change="settingsChanged()">             
                </select>
            </label>
        </div>
    </ion-content>
</ion-view>