<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Wallets Tab -->
  <ion-tab title="{{'WALLETS_TITLE' | translate}}" icon-off="ion-card" icon-on="ion-card" href="#/tab/wallets">
    <ion-nav-view name="tab-wallets"></ion-nav-view>
  </ion-tab>

  <!-- Price History Tab -->
  <ion-tab title="{{'PRICE_TITLE' | translate}}" icon-off="ion-stats-bars" icon-on="ion-stats-bars" href="#/tab/priceHistory">
    <ion-nav-view name="tab-price-history"></ion-nav-view>
  </ion-tab>
  <!-- Tools Tab -->
  <ion-tab title="{{'TOOLS_TITLE' | translate}}" icon-off="ion-settings" icon-on="ion-settings" href="#/tab/tools">
    <ion-nav-view name="tab-tools"></ion-nav-view>
  </ion-tab>

  <!-- Configuration Tab -->
  <ion-tab title="{{'SETTINGS_TITLE' | translate}}" icon-off="ion-gear-b" icon-on="ion-gear-b" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

</ion-tabs>