<ion-view view-title="{{'TRANSACTION_VIEW_TITLE' | translate}}">
    <ion-content>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'TransactionID' | translate}} :</ion-label> 
            <input type="text" ng-value="Transaction.hash" ng-disabled="true" class="item-input-disabled"/>
        </label>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'Date' | translate}} :</ion-label> 
            <input type="text" ng-value="getDateTransacction(Transaction.timeStamp) |  date : 'dd/MM/yyyy hh:mm:ss'" ng-disabled="true" class="item-input-disabled"/>
        </label>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'From' | translate}} :</ion-label> 
            <input type="text" ng-value="Transaction.from" ng-disabled="true" class="item-input-disabled"/>
        </label>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'To' | translate}} :</ion-label> 
            <input type="text" ng-value="Transaction.to" ng-disabled="true" class="item-input-disabled"/>
        </label>
        <label class="item item-input item-input-disabled" ng-class="getColorTransactionClass()">     
            <ion-label fixed>{{'Value' | translate}} :</ion-label> 
            <input type="text" ng-value="getTransactionValue()" ng-disabled="true" class="item-input-disabled" ng-class="getColorTransactionClass()"/>
        </label>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'TransactionCost' | translate}} :</ion-label> 
            <input type="text" ng-value="getTransactionCost()" ng-disabled="true" class="item-input-disabled"/>
        </label>
        <label class="item item-input item-input-disabled">     
            <ion-label fixed>{{'BlockNumber' | translate}} :</ion-label> 
            <input type="text" ng-value="Transaction.blockNumber" ng-disabled="true" class="item-input-disabled"/>
        </label>
    </ion-content>
</ion-view>