<ion-view view-title="{{wallet.name}}">
  <ion-content class="padding" id="walletScreen" ng-if="canOpen">
    <div id="avatar" style="background-image:{{getAvatar()}}"></div>
    <label class="item item-input item-input-disabled">     
      <ion-label fixed>{{'Address' | translate}} :</ion-label> 
      <input type="text" ng-value="wallet.address" ng-disabled="true" class="item-input-disabled"/>
    </label>
    <label class="item item-input item-input-disabled">     
      <ion-label fixed>{{'Balance' | translate}} :</ion-label> 
      <input type="text" ng-value="Balance" ng-disabled="true" class="item-input-disabled"/>
    </label>
    <label class="item item-input item-input-disabled">     
        <ion-label fixed>{{settings.coin.label}} :</ion-label> 
        <input type="text" value="{{getBalance() | number : 2}} {{settings.coin.simbol}}" ng-disabled="true" class="item-input-disabled"/>
      </label>
    <label class="item item-input item-input-disabled">     
      <ion-label fixed>{{'Transactions' | translate}} :</ion-label> 
     <input type="text" ng-value="NumTransactions" ng-disabled="true" class="item-input-disabled"/>
    </label>
    <label class="item item-input item-input-disabled">     
        <ion-label fixed>{{'PrivateKey' | translate}}:</ion-label> 
       <input type="text" ng-value="wallet.privateKey" ng-disabled="true" class="item-input-disabled"/>
    </label>
    <label class="item item-input item-input-disabled" ng-if="wallet.password != ''">     
        <ion-label fixed>{{'Password' | translate}} :</ion-label> 
       <input type="password" ng-value="wallet.password" ng-disabled="true" class="item-input-disabled"/>
    </label>
    <button class="button button-positive icon ion-loop" ng-click="reloadWallet()"></button>
    <button class="button button-positive icon ion-search" style="left:56px;" ng-click="openTransactionsHistory()"></button>
    <button class="button button-positive icon ion-paper-airplane" style="left:112px;" ng-click="openModal('templates/modals/modalSendEther.html')"></button>
    <button class="button button-positive icon ion-share" style="left:168px;" ng-click="openModal('templates/modals/modalShareWallet.html')"></button>
    <button class="button button-positive icon ion-locked" style="left:224px;" ng-click="openModal('templates/modals/modalUnsetPasswordWallet.html')"
      ng-if="wallet.password != ''"></button>
    <button class="button button-positive icon ion-unlocked" style="left:224px;" ng-click="openModal('templates/modals/modalSetPasswordWallet.html')"
      ng-if="wallet.password == ''"></button>
    <button class="button button-positive icon ion-trash-a" style="left:280px;" ng-click="openModal('templates/modals/modalRemoveWallet.html')"></button>
  </ion-content>
  <ion-content class="padding" id="walletScreen" ng-if="!canOpen">
    <p>Bad Password</p>
    <button class="button button-positive" ng-click="back()">Back</button>
  </ion-content>
</ion-view>