<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">{{'IMPORT_WALLET_JSON_TITLE' | translate}}</h1>
        <div class="button button-clear" ng-click="closeModal()" ng-disabled="Importing"><span class="icon ion-close"></span></div>
    </header>
    <content has-header="true" padding="true">
        <br>
        <br>
        <br>
        <label class="item item-input">     
            <ion-label fixed>{{'Name' | translate}}</ion-label> 
            <input type="text" ng-model="modalNewWalletJSON.name" placeholder="{{'placeHolderNameWallet' | translate}}" ng-disabled="Importing">
        </label>     
        <label class="item item-input">     
                <ion-label fixed>{{'File' | translate}}</ion-label> 
                <input type="text" ng-model="FileName" placeholder="..." ng-disabled="true">
            </label>   
        <button class="button button-block button-positive"  ng-click="openExplorer()" ng-disabled="Importing">{{'btnOpenFile' | translate}}</button>
        <input type="file" custom-on-change="uploadFile" ng-disabled="Importing" style="display:none" id="inputfile">
        <label class="item item-input">     
            <ion-label fixed>{{'Password' | translate}}</ion-label> 
            <input type="password" ng-model="modalNewWalletJSON.password" placeholder="{{'PlaceHolderBtnPasswordJSON' | translate}}" ng-disabled="Importing">
        </label>
        <button class="button button-block button-positive" style="position:absolute;bottom:0" ng-click="ImportWalletFromJsonFile()" ng-disabled="Importing">{{'btnImportWallet' | translate}}</button>
    </content>
</div>
