<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">Transactions History</h1>
        <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
    </header>
    <content has-header="true" padding="true">
        <br>
        <br>
        <br>
        <ion-list id="list-transactionHistory">
            <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="transaction in Transactions" type="item-text-wrap">
                <i class="icon icon-left ion-plus-circled icon-green" ng-if="transaction.to.toUpperCase() == wallet.address.toUpperCase()"></i>
                <i class="icon icon-left ion-minus-circled icon-red" ng-if="transaction.to.toUpperCase() != wallet.address.toUpperCase()"></i>
                <p><b>Date :</b> {{getDateTransacction(transaction.timeStamp) | date : 'dd/MM/yyyy hh:mm:ss'}}</p>
                <p><b>From :</b> {{transaction.from}}</p>
                <p><b>To :</b> {{transaction.to}}</p>
            </ion-item>        
        </ion-list>
    </content>
</div>
{{attachListToScreen()}}