<div class="modal">
    <header class="bar bar-header bar-positive">
        <h1 class="title">{{'ADD_WALLET_PRIVATE_KEY_TITLE' | translate}}</h1>
        <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
    </header>
    <content has-header="true" padding="true">
        <br>
        <br>
        <br>
        <label class="item item-input">     
            <ion-label fixed>{{'Name' | translate}}</ion-label> 
            <input type="text" ng-model="modalNewWallet.name" placeholder="{{'placeHolderNameWallet' | translate}}">
        </label>
        <label class="item item-input">     
            <ion-label fixed>{{'PrivateKey' | translate}}</ion-label> 
            <input type="text" ng-model="modalNewWallet.privateKey" placeholder="{{'placeHolderPrivateKey' | translate}}">
        </label>
        <button class="button button-block button-positive" style="position:absolute;bottom:0" ng-click="addWalletFromPrivateKey()">{{'btnAddWallet' | translate}}</button>
    </content>
</div>