<div class="modal">
        <header class="bar bar-header bar-positive">
            <h1 class="title">{{'REMOVE_WALLET_TITLE' | translate}}</h1>
            <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
        </header>
        <content has-header="true" padding="true">
            <br>
            <br>
            <br>
            <p class="questionModal">{{'RemoveWalletQuestion' | translate}}</p>
            <button class="button button-block button-positive button-yes-modal"  ng-click="removeWallet()">{{'YES' | translate}}</button>
            <button class="button button-block button-positive button-no-modal"  ng-click="closeModal()">{{'NO' | translate}}</button>
        </content>
    </div>