/* Empty. Add your own CSS if you like */
.list-inset .item.item-input input{
    padding-right:0 !important;
}

.toggle{
    height: 48px;
    border: 0;
}

.tabs-top > .tabs{
    top:25px !important
}
#floating-button{
    bottom:100px !important;
}
#floating-button>li{
    background-color: rgb(56, 126, 245) !important;
}
.view-container.tab-content{
    top:75px !important;
}
.has-tabs-top{
    top:-1px !important
}
#avatarList{
    width:50px;
    height: 50px;
    background-size: contain;
    position: absolute;
    left: 11px;
    border-radius: 50px;
}

#avatar{
    width:100%;
    height: 50px;
    background-size: contain;  
}
.input-label{
    width:auto !important;
}
.item-input-disabled{
background-color: aliceblue !important;
}

#walletScreen button.icon {
    position: absolute;
    bottom: 100px;
}

p.questionModal {
    font-size: 2em;
    text-align: center;
    line-height: 1.5em;
    padding: 1em;
}
button.button-yes-modal {
    position:absolute;
    bottom:0;
    left:0;
    width:49%;
}

button.button-no-modal{
    position:absolute;
    bottom:0;
    left:50%;
    width:49%;
}

button.button-bottom{
    position:absolute;
    bottom:0;  
}

i.icon-grey{
    color:#387ef5;
}
i.icon-left{
    float: left;
    left: 19px;
    font-size: 3em !important;
}
i.icon-green{
    color:#38F553;
}
i.icon-red{
    color:#F53838;
}

#list-transactionHistory{
    display: inline-grid;
    overflow-y: hidden;
    overflow-x: hidden;
}

#list-transactionHistory > div.list{    
    overflow-y: scroll;
    overflow-x: hidden;
}

.icon-clipboard-share , .icon-scan-send{
    width: 50px;       
    position: absolute;
    right: 0;
    top: 0px;
    border-radius: 0;
}
.icon-scan-send{
    top: 156px !important;
    z-index: 3;
}
 ion-nav-view > ion-tabs.tabs-icon-top.tabs-color-active-positive.pane.tabs-top.tabs-striped {
    top:20px;
}

.btn-share-whatsapp{
    margin: 10px auto !important;
    width: 90% !important;
}

.error-amount{
    background-color: #ef473a !important;
}
.success-amount{
    background-color: #33cd5f !important;
}